# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Python virtual environment directories
env
venv
.venv

.idea

.coverage
dist
build
test-config.json
test-*-config.json

reports

